<html>
<head>
    
    <title>Import File</title>
</head>
<body>
    <form action="http://localhost:3001/upload" method="Post" enctype="multipart/form-data"></form>
    <input type="file" name="file">
</br>
    <input type="submit" value="upload">
</body>
</html>